<nz-tabset class="tabs">

    <nz-tab nzTitle={{Title01}}><nz-header>
            <button nz-button nzType="primary" (click)="toggleCollapsed()" class="btn-styles4">
                <span nz-icon [nzType]="sidebarService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"
                    class="big-icon"></span>
            </button>
            <h2 nz-typography class="h2">{{Title01}}</h2>
        </nz-header>
        <nz-content>

        </nz-content>
    </nz-tab>

    <nz-tab nzTitle={{Title02}}><nz-header>
            <button nz-button nzType="primary" (click)="toggleCollapsed()" class="btn-styles4">
                <span nz-icon [nzType]="sidebarService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"
                    class="big-icon"></span>
            </button>
            <h2 nz-typography class="h2">{{Title02}}</h2>
        </nz-header>
        <nz-content>

        </nz-content>
    </nz-tab>

    <nz-tab nzTitle={{Title03}}><nz-header>
            <button nz-button nzType="primary" (click)="toggleCollapsed()" class="btn-styles4">
                <span nz-icon [nzType]="sidebarService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"
                    class="big-icon"></span>
            </button>
            <h2 nz-typography class="h2">{{Title03}}</h2>
        </nz-header>
        <nz-content>

        </nz-content>
    </nz-tab>

    <nz-tab nzTitle={{Title04}}><nz-header>
            <button nz-button nzType="primary" (click)="toggleCollapsed()" class="btn-styles4">
                <span nz-icon [nzType]="sidebarService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"
                    class="big-icon"></span>
            </button>
            <h2 nz-typography class="h2">{{Title04}}</h2>
        </nz-header>
        <nz-content>

        </nz-content>
    </nz-tab>


</nz-tabset>