<nz-layout>
    <nz-header>
        <div class="blue-area">

            <div class="tabs-box">
                <nz-tabset>
                    <nz-tab nzTitle="使用者使用紀錄"></nz-tab>
                    <nz-tab nzTitle="設備異常紀錄"></nz-tab>
                    <nz-tab nzTitle="設備操作紀錄"></nz-tab>
                </nz-tabset>
            </div>

            <div class="title">
                <button nz-button nzType="primary" nzShape="circle" class="btn-styles4" (click)="GoPersonalInfo()">
                    <span nz-icon nzType="left" nzTheme="outline"></span>
                </button>
                <h1 nz-typography>設備異常紀錄</h1>
            </div>

        </div>
    </nz-header>

    <nz-content>
        <p>abno</p>

    </nz-content>

</nz-layout>