<nz-header class="common-header">
  <div class="header-left">
    @if (showToggle && sidebarService.showSidebar) {
      <button nz-button nzType="primary" (click)="toggleCollapsed()" class="btn-styles4">
        <span nz-icon [nzType]="sidebarService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"
          class="big-icon"></span>
      </button>
    }
    @if (title) {
      <h2 nz-typography class="h2">{{ title }}</h2>
    }
  </div>

  <div class="header-right">
    @if (showUser) {
      <div class="user-info">
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span class="username">{{ currentUsername }}</span>
      </div>
    }
    @if (showLogout) {
      <button nz-button class="btn-logout" (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span>登出</span>
      </button>
    }
  </div>
</nz-header>
