<nz-header>
    <button nz-button nzType="primary" (click)="toggleCollapsed()" class="btn-styles4">
        <span nz-icon [nzType]="sidebarService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"
            class="big-icon"></span>
    </button>
    <h1 nz-typography class="h2">{{username}}</h1>
</nz-header>

<nz-content>
    <div nz-col [nzSpan]="12">
        <!-- 點數到期提醒，（不確定需求先不放） -->
        <!-- <h5 nz-typography class="pointdate"><span nz-icon nzType="exclamation-circle" nzTheme="outline"></span> 點數將於
                {{Date}} 日到期，請盡快使用</h5>
            <br> -->
        <!-- 文字輪換，可以根據狀態顯示滾動條如：狀態為畢業則顯示要趕快用完等訊息 -->
        <div>
            <nz-carousel nzAutoPlay [nzDots]="false">
                @for (msg of carouselMessages; track msg) {
                <div nz-carousel-content>
                    <h3>{{ msg }}</h3>
                </div>
                }
            </nz-carousel>
        </div>
        <nz-divider></nz-divider>
        <!-- 個人資訊 -->
        <div class="titlebox">
            <h1 nz-typography class="boxword">個人資訊</h1>
            <!-- <button nz-button nzType="primary" class="btn-styles3" (click)="reviseModal()"><span nz-icon nzType="edit"
                    nzTheme="outline"></span></button> -->
            <nz-modal [(nzVisible)]="reviseisVisible" nzTitle="修改個人資料" [nzFooter]="revisemodalFooter" nzWidth="520px"
                nzCentered [nzClosable]="false">
                <ng-container *nzModalContent>
                    <div>
                        <h5 nz-typography style="margin: 0;">更改使用者名稱:</h5>
                        <input nz-input placeholder="輸入新使用者名稱" [(ngModel)]="namevalue"
                            style="width: 100%; margin-top: 10px;" />
                    </div>
                    <br>
                    <div>
                        <h5 nz-typography style="margin: 0;">更改密碼:</h5>
                        <input nz-input placeholder="輸入新密碼" [(ngModel)]="passwordvalue"
                            style="width: 100%; margin-top: 10px;" />
                    </div>
                </ng-container>
                <ng-template #revisemodalFooter>
                    <button nz-button (click)="revisehandleCancel()">取消</button>
                    <button nz-button nzType="primary" class="btn-styles2" (click)="revisehandleOk()">完成</button>
                </ng-template>
            </nz-modal>
        </div>
        <!-- 我的點數 -->
        <div class="pointbox">
            <h1 nz-typography class="boxword">我的點數</h1>
            <p class="boxnum">{{userpoint}}</p>
        </div>
        <!-- 我的商品券 -->
        <div class="pointbox">
            <h1 nz-typography class="boxword">我的商品券</h1>
            <div *ngFor="let product of memberProductList" class="product-item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="18" height="18"
                    fill="currentColor">
                    <path
                        d="M184 48C170.7 48 160 58.7 160 72C160 110.9 183.4 131.4 199.1 145.1L200.2 146.1C216.5 160.4 224 167.9 224 184C224 197.3 234.7 208 248 208C261.3 208 272 197.3 272 184C272 145.1 248.6 124.6 232.9 110.9L231.8 109.9C215.5 95.7 208 88.1 208 72C208 58.7 197.3 48 184 48zM128 256C110.3 256 96 270.3 96 288L96 480C96 533 139 576 192 576L384 576C425.8 576 461.4 549.3 474.5 512L480 512C550.7 512 608 454.7 608 384C608 313.3 550.7 256 480 256L128 256zM480 448L480 320C515.3 320 544 348.7 544 384C544 419.3 515.3 448 480 448zM320 72C320 58.7 309.3 48 296 48C282.7 48 272 58.7 272 72C272 110.9 295.4 131.4 311.1 145.1L312.2 146.1C328.5 160.4 336 167.9 336 184C336 197.3 346.7 208 360 208C373.3 208 384 197.3 384 184C384 145.1 360.6 124.6 344.9 110.9L343.8 109.9C327.5 95.7 320 88.1 320 72z" />
                </svg>
                <p class="ProductFont">{{ product.product_name }} - {{ product.quantity }} 張</p>
            </div>
        </div>
        <nz-divider></nz-divider>
        <!-- 轉贈點數和兌換商品券按鈕組，尚未水平置中 -->
        <div nz-row [nzGutter]="16" class="button-group">
            <div nz-col [nzSpan]="12">
                <button nz-button nzType="primary" nzBlock class="btn-styles2" (click)="addpointModal()">
                    <h3 nz-typography><span nz-icon nzType="swap" nzTheme="outline"></span>轉贈點數</h3>
                </button>
            </div>
            <div nz-col [nzSpan]="12">
                <button nz-button nzType="primary" nzBlock class="btn-styles2" (click)="usepointModal()">
                    <h3 nz-typography><span nz-icon nzType="coffee" nzTheme="outline"></span>兌換商品券</h3>
                </button>
            </div>
        </div>

        <nz-divider></nz-divider>
        <!-- 轉贈點數 Modal -->
        <nz-modal [(nzVisible)]="addpointisVisible" nzTitle="轉贈點數" [nzFooter]="null" nzWidth="520px" nzCentered
            [nzClosable]="false">
            <ng-container *nzModalContent>
                <div>
                    <h5 nz-typography style="margin: 0;">選擇轉贈給:</h5>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="選擇轉贈給" [(ngModel)]="addpointselectedValue"
                        style="width: 100%; margin-top: 10px;">
                        <nz-option *ngFor="let member of members" [nzValue]="member.id" [nzLabel]="member.name">
                        </nz-option>
                    </nz-select>
                </div>
                <br>
                <div>
                    <h5 nz-typography style="margin: 0;">轉贈點數數量:</h5>
                    <input nz-input placeholder="輸入數量" [(ngModel)]="pointvalue" type="number"
                        style="width: 100%; margin-top: 10px;" />
                </div>
                <br>
                <div style="text-align: right;">
                    <button nz-button nzType="default" (click)="addpointisVisible=false">取消</button>
                    <button nz-button nzType="primary" class="btn-styles2">確認轉贈</button>
                </div>
            </ng-container>
        </nz-modal>
        <!-- 兌換商品券 Modal，商品似乎可以改成用 dictionary -->
        <nz-modal [(nzVisible)]="usepointisVisible" nzTitle="兌換商品券" [nzFooter]="usepointmodalFooter" nzWidth="520px"
            nzCentered [nzClosable]="false">
            <ng-container *nzModalContent>
                <div>
                    <div class="pointbox2" style="margin: 0px 0px 16px 0px;">
                        <h2 nz-typography class="boxword">我的商品券</h2>
                        <div *ngFor="let product of memberProductList" class="product-item">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="18" height="18"
                                fill="currentColor">
                                <path
                                    d="M184 48C170.7 48 160 58.7 160 72C160 110.9 183.4 131.4 199.1 145.1L200.2 146.1C216.5 160.4 224 167.9 224 184C224 197.3 234.7 208 248 208C261.3 208 272 197.3 272 184C272 145.1 248.6 124.6 232.9 110.9L231.8 109.9C215.5 95.7 208 88.1 208 72C208 58.7 197.3 48 184 48zM128 256C110.3 256 96 270.3 96 288L96 480C96 533 139 576 192 576L384 576C425.8 576 461.4 549.3 474.5 512L480 512C550.7 512 608 454.7 608 384C608 313.3 550.7 256 480 256L128 256zM480 448L480 320C515.3 320 544 348.7 544 384C544 419.3 515.3 448 480 448zM320 72C320 58.7 309.3 48 296 48C282.7 48 272 58.7 272 72C272 110.9 295.4 131.4 311.1 145.1L312.2 146.1C328.5 160.4 336 167.9 336 184C336 197.3 346.7 208 360 208C373.3 208 384 197.3 384 184C384 145.1 360.6 124.6 344.9 110.9L343.8 109.9C327.5 95.7 320 88.1 320 72z" />
                            </svg>
                            <p class="ProductFont">{{ product.product_name }} - {{ product.quantity }} 張</p>
                        </div>


                    </div>
                    <div nz-row [nzGutter]="8">
                        @if (productList && productList.length > 0) {
                        @for (product of productList; track product.id) {
                        <div nz-col [nzSpan]="8">
                            <!-- 商品 card -->
                            <nz-card nzHoverable [nzTitle]="product.category + ' - ' + product.name"
                                (click)="onDrinkSelect(product)">
                                <nz-card-meta [nzTitle]="product.description"
                                    [nzDescription]="product.points_required + '點'">
                                </nz-card-meta>
                            </nz-card>
                        </div>
                        }
                        } @else {
                        <div nz-col [nzSpan]="24">
                            <nz-card>
                                <nz-card-meta nzTitle="暫無商品" nzDescription="目前沒有可兌換的商品"></nz-card-meta>
                            </nz-card>
                        </div>
                        }
                    </div>
                    <!-- <h5 nz-typography style="margin: 0;">兌換杯數:</h5>
                    <input nz-input placeholder="輸入數量" [(ngModel)]="capvalue" type="number"
                        style="width: 100%; margin-top: 10px;" /> -->
                </div>
            </ng-container>
            <ng-template #usepointmodalFooter>
                <button nz-button (click)="usepointhandleCancel()">關閉彈窗</button>
            </ng-template>
        </nz-modal>
        <!-- 兌換確認 Modal -->
        <nz-modal [(nzVisible)]="exchangeConfirmVisible" nzTitle="確認兌換" [nzFooter]="exchangeFooter" nzWidth="500px"
            nzCentered [nzClosable]="false">
            <ng-container *nzModalContent>
                @if (selectedProduct) {
                <div class="exchange-confirm">
                    <div class="product-info">
                        <h4>{{ selectedProduct.name }} - {{ selectedProduct.description }}</h4>
                    </div>
                    <!-- 數量選擇區域 -->
                    <div class="quantity-section">
                        <h4 class="h4">選擇數量：</h4>
                        <div class="quantity-controls">
                            <button class="btn-styles5" nz-button nzType="default" nzSize="small"
                                (click)="decreaseQuantity()" [disabled]="exchangeQuantity <= 1">
                                <span nz-icon nzType="minus"></span>
                            </button>

                            <nz-input-number [(ngModel)]="exchangeQuantity" [nzMin]="1" [nzMax]="getMaxQuantity()"
                                style="width: 80px; margin: 0 8px;">
                            </nz-input-number>

                            <button class="btn-styles5" nz-button nzType="default" nzSize="small"
                                (click)="increaseQuantity()" [disabled]="exchangeQuantity >= getMaxQuantity()">
                                <span nz-icon nzType="plus"></span>
                            </button>
                        </div>
                        <p class="quantity-info">最多可兌換 {{ getMaxQuantity() }} 張</p>
                    </div>
                    <!-- 點數計算區域 -->
                    <div class="points-info">
                        <div class="points-row">
                            <span class="h4">單張需要：</span>
                            <span class="points-required">{{ selectedProduct.points_required }}
                                點</span>
                        </div>
                        <div class="points-row">
                            <span class="h4">兌換數量：</span>
                            <span class="points-quantity">{{ exchangeQuantity }} 張</span>
                        </div>
                        <div class="points-row total">
                            <span>總計需要：</span>
                            <span class="points-total">{{ getTotalPoints() }} 點</span>
                        </div>
                        <div class="points-row now">
                            <span>目前點數：</span>
                            <span class="points-current">{{ userpoint }} 點</span>
                        </div>
                        <div class="points-row remaining">
                            <span>兌換後剩餘：</span>
                            <span class="points-remaining">{{ userpoint - getTotalPoints() }}
                                點</span>
                        </div>
                    </div>
                </div>
                }
            </ng-container>
            <ng-template #exchangeFooter>
                <button nz-button (click)="cancelExchange()">取消</button>
                <button nz-button nzType="primary" nzDanger
                    (click)="confirmExchange(selectedProduct!.id, selectedProduct!.points_required)"
                    [disabled]="!isQuantityValid()">
                    確認兌換
                </button>
            </ng-template>
        </nz-modal>

        <!-- 點數使用與規則說明 -->
        <nz-collapse [nzBordered]="false">
            @for (panel of rulepanels; track panel) {
            <nz-collapse-panel [nzHeader]="headerTemplate" [nzActive]="panel.active" [nzShowArrow]="false">
                <ng-template #headerTemplate>
                    <div class="headerbox">
                        <span nz-icon nzType="caret-down" nzTheme="outline" style="color:#27496D ;"></span>
                        <h1 nz-typography class="headerword" style="margin: 0;">{{ panel.name }}</h1>
                    </div>
                </ng-template>

                <!-- 內容 -->
                <div class="rulebox">

                    <h3 nz-typography class="boxword">● 100點可兌換一杯咖啡</h3>
                    <h3 nz-typography class="boxword">● 100點可兌換一杯咖啡</h3>
                    <h3 nz-typography class="boxword">● 100點可兌換一杯咖啡</h3>
                    <h3 nz-typography class="boxword">● 100點可兌換一杯咖啡</h3>
                </div>


            </nz-collapse-panel>
            }
        </nz-collapse>

        <!-- 點數異動紀錄（需要改成彈窗嗎 先這個樣子看一下） -->
        <nz-collapse [nzBordered]="false">
            @for (panel of pointpanels; track panel) {
            <nz-collapse-panel [nzHeader]="headerTemplate" [nzActive]="panel.active" [nzShowArrow]="false">
                <ng-template #headerTemplate>
                    <div class="headerbox">
                        <span nz-icon nzType="caret-down" nzTheme="outline" style="color:#27496D ;"></span>
                        <h1 nz-typography class="headerword" style="margin: 0;">{{ panel.name }}</h1>
                    </div>
                </ng-template>

                <!-- 內容 -->
                <div class="point-information-container">
                    <nz-table #memberHistoryTable [nzData]="memberPointsHistoryList" [nzLoading]="memberHistoryLoading"
                        [nzBordered]="true" [nzShowPagination]="true" [nzPageSize]="10" [nzHideOnSinglePage]="false">
                        <thead>
                            <tr>
                                <th>異動事件</th>
                                <th>點數異動情況</th>
                                <th>異動時間</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (memberPointsHistoryList && memberPointsHistoryList.length > 0) {
                            @for (data of memberPointsHistoryList; track data.id) {
                            <tr>
                                <td>{{ data.description || data.type }}</td>
                                <td>
                                    <span [ngClass]="data.amount >= 0 ? 'text-green' : 'text-red'">
                                        {{ data.amount >= 0 ? '+' : '' }}{{ data.amount }}
                                    </span>
                                    ({{ data.before_balance }} → {{ data.after_balance }})
                                </td>
                                <td>{{ data.created_at }}</td>
                            </tr>
                            }
                            } @else {
                            <tr>
                                <td colspan="3" class="text-center">
                                    @if (memberHistoryLoading) {
                                    載入中...
                                    } @else {
                                    暫無資料
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </nz-table>
                </div>

            </nz-collapse-panel>
            }
        </nz-collapse>


    </div>
</nz-content>