<nz-layout>
  <nz-header></nz-header>
  <nz-content>

    <div class="box">
      <h2 nz-typography>SSO 登入</h2>
      <!--學號輸入框-->
      <div class="input-block">
        <h5 nz-typography style="margin: 0;">請輸入學號（要加s）：</h5>
        <input nz-input placeholder="請輸入學號" nzSize="large" [(ngModel)]="studentId" />
      </div>
      <br>
      <!--SSO 登入按鈕-->
      <button nz-button nzType="primary" nzBlock class="btn-styles1" (click)="onSSOLogin()">SSO 登入</button>
    </div>
  </nz-content>

</nz-layout>