button[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
    height: 40px; //增加上下寬度
    border-radius: 100px; //圓角設定
    border: 2px solid #000000; //邊框設定
    font-weight: bold; //粗體

    background-color: #FFB433;
    color: #000000;
}

button[nz-button].btn-styles1 {
    background-color: #FFB433;
    color: #000000;
}

button[nz-button].btn-styles2 {
    background-color: #ffffff;
    color: #000000;
}

button[nz-button].btn-styles3 {
    width: 40px;
    background-color: #000000;
    color: #ffffff;
}

button[nz-button].btn-styles4 {
    //icon btn
    background-color: #80CBC4;
    color: #000000;
    border: 2px solid #80CBC4;
    width: 64px;
    height: 64px;

    .big-icon {
        font-size: 28px; // 控制 icon 大小
    }
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center; // 水平置中
    gap: 20px;
    width: 100%;
}

.blue-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 24px; // 更靠左
    height: 140px; // 改成固定高度方便對齊
    width: 100%;
    //background-color: #f0f0f0; // 測試可加背景色方便看對齊
}
