:host {
        text-align: center;
      }

 nz-header{
        background: #80CBC4;
        color: #000000;
      }

nz-content {
        background:#FBF8EF;
        color: #000000;
        min-height: 120px;
        line-height: 120px;
      }

nz-footer {
        line-height: 1.5;
      }

nz-layout {
        margin-bottom: 48px;
      }

      nz-layout nz-layout,
      nz-layout:last-child {
        margin: 0;
      }



