<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="sidebarService.isCollapsed" [nzTrigger]="null">
        <div class="logo">

        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="會員管理" nzIcon="user">
                <ul>
                    <li nz-menu-item (click)="GoPersonalInfo()">個人資訊</li>
                    <li nz-menu-item (click)="GoPointInformation()">點數資訊</li>
                </ul>
            </li>
            

            <li nz-submenu nzTitle="咖啡設備管理" nzIcon="coffee">
                <ul>
                    <li nz-menu-item (click)="GoEquipment()">設備管理頁面</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="系統管理" nzIcon="setting">
                <ul>
                    <li nz-menu-item (click)="GoBackendManagement()">系統管理首頁</li>
                    <li nz-menu-item (click)="GoPermissionManagement()">角色權限管理</li>
                    <li nz-menu-item (click)="GoHistoricalRecord()">歷史紀錄頁面</li>
                </ul>
            </li>

        </ul>
    </nz-sider>
    <nz-layout>
        <router-outlet></router-outlet>
    </nz-layout>
</nz-layout>