<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="sidebarService.isCollapsed" [nzTrigger]="null" [nzWidth]="300">
    <div class="logo"></div>

    <div class="menu-container">
      <ul nz-menu nzTheme="dark" nzMode="inline" class="main-menu">

         <li nz-menu-item >
            <span nz-icon nzType="user"></span>
            <span class="menu-item-large" (click)="GoPersonalInfo()">個人資訊</span>
          </li>

        <li nz-submenu nzTitle="系統管理" nzIcon="setting" class="menu-item-large">
          <ul>
            <li nz-menu-item class="menu-item-large" (click)="GoBackendManagement()">兌換資料分析頁面</li>
            <li nz-menu-item class="menu-item-large" (click)="GoEquipment()">設備管理頁面</li>
            <li nz-menu-item class="menu-item-large" (click)="GoPermissionManagement()">使用者管理</li>
            <li nz-menu-item class="menu-item-large" (click)="GoHistoricalRecord()">歷史紀錄頁面</li>
          </ul>
        </li>
      </ul>


      <ul nz-menu nzTheme="dark" nzMode="inline" class="logout-menu">
        <li nz-menu-item>
          <span nz-icon nzType="logout"></span>
          <span class="menu-item-large" (click)="GoLogIn()">登出</span>
        </li>
      </ul>
    </div>
  </nz-sider>

  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>