<nz-header>
    <button nz-button nzType="primary" (click)="toggleCollapsed()" class="btn-styles4">
        <span nz-icon [nzType]="sidebarService.isCollapsed ? 'menu-unfold' : 'menu-fold'" nzTheme="outline"
            class="big-icon"></span>
    </button>
    <h2 nz-typography class="h2">兌換資料分析頁面</h2>
</nz-header>

<nz-content>
    <div class="box">
        <div style="padding:16px">
            <!-- 載入中狀態 -->
            <nz-spin [nzSpinning]="isLoading" >

                <!-- 圖表容器 -->
                <div #echartContainer style="width:400px;height:400px;"></div>
            </nz-spin>
        </div>
    </div>
</nz-content>