<nz-layout>
    <nz-header>
        <div class="blue-area">
            <div class="left-area">
                <button nz-button nzType="primary" (click)="open()" class="btn-styles4"><span nz-icon
                    nzType="unordered-list" nzTheme="outline"></span></button>
                <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="left" nzTitle="咖啡機資料"
                (nzOnClose)="close()">
                    <ng-container *nzDrawerContent>
                        <p>Some contents...</p>
                        <p>Some contents...</p>
                    </ng-container>
                </nz-drawer>
                <div class="info">
                    <nz-avatar [nzSize]="64" nzIcon="user"
                        nzSrc="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5jYNdL7EfoBGgHMaYkwvlXLCCyHJ26Wf8Zw&s"></nz-avatar>

                    <div class="info-text">
                        <h3 nz-typography>使用者名稱</h3>
                        <h5 nz-typography>abcdefg</h5>
                    </div>
                </div>
            </div>

            <div class="blue-area-btn">
                <button nz-button nzType="primary" class="btn-styles2">修改資料</button>
                <button nz-button nzType="primary">登出</button>
            </div>




        </div>


    </nz-header>
    <nz-content>

    </nz-content>

</nz-layout>